@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Parkinsans:wght@300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

* {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}

body {
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  overflow: auto;
}

[cmdk-input-wrapper] {
  border-bottom: #2f2f2f 1px solid;
}

.dark-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.dark-scrollbar::-webkit-scrollbar-track {
  background: #0a0a0a;
  border-radius: 10px;
}

.dark-scrollbar::-webkit-scrollbar-thumb {
  background: #4a4a4a;
  border-radius: 10px;
}

.dark-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #3a3a3a;
}

.light-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.light-scrollbar::-webkit-scrollbar-track {
  background: #f5f5f5;
  border-radius: 10px;
}

.light-scrollbar::-webkit-scrollbar-thumb {
  background: #d8d8d8;
  border-radius: 10px;
}